name: Deploy alpha to GitHub Pages

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches:
      - alpha

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Prepare alpha directory
        run: |
          mkdir -p alpha
          rsync -av --exclude 'alpha' . alpha/

      - name: Deploy to GitHub Pages (alpha)
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./alpha          destination_dir: beta
