name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
      - beta
      - alpha

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.PERSONAL_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./
        destination_dir: ${{ github.ref == 'refs/heads/alpha' && 'alpha' || (github.ref == 'refs/heads/beta' && 'beta' || '') }}
