name: Deploy Beta to GitHub Pages

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches:
      - beta

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Prepare beta directory
        run: |
          mkdir -p beta
          rsync -av --exclude 'beta' --exclude '.git' . beta/

      - name: Deploy to GitHub Pages (beta)
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./beta
          destination_dir: beta
          keep_files: true
