name: Deploy experimental to GitHub Pages

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches:
      - experimental

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Prepare experimental directory
        run: |
          mkdir -p experimental
          rsync -av --exclude 'experimental' --exclude '.git' . experimental/

      - name: Deploy to GitHub Pages (experimental)
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./experimental
          destination_dir: experimental
          keep_files: true
